
name: Create Zip

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create ZIP with specific folders
        run: |
          zip -r countdownBear.zip "Resources/Server" Resources/Client/countdownBear.zip

      
